.middle .container {
	height: 800px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logIn {
	width: 100%;
}

.signIn {
	display: none;
	width: 100%;
}

.title {
	font-size: 40px;
	margin-top: 100px;
	text-align: center;
}

.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

input,
button {
	text-align: center;
	outline: none;
}

input {
	width: 30%;
	height: 50px;
	border: 1px solid black;
	border-radius: 12px;
	margin-bottom: 20px;
	font-size: 21px;
}

input:focus {
	border: 1px solid var(--knowMoreButton);
	outline: 1px solid var(--knowMoreButton);
}

.button {
	font-size: 18px;
}

.button:first-child {
	margin-right: 30px;
}

.button:first-child:hover {
	background-color: var(--knowMoreButtonHover);
}

.signInButton {
	background-color: rgba(255, 255, 255, 0);
	color: var(--knowMoreButton);
	border: 1px solid var(--knowMoreButton);
}

.signInButton:hover {
	background-color: var(--knowMoreButton);
	color: white;
}

.signInButton:active {
	background-color: var(--knowMoreButtonHover);
}
